Cloudflare__AccountId=
Cloudflare__AccessKey=
Cloudflare__SecretKey=
Cloudflare__BucketName=
Cloudflare__PublicUrl=
ASPNETCORE_ENVIRONMENT=
GMAIL_CLIENT_ID=xxxx.apps.googleusercontent.com
GMAIL_CLIENT_SECRET=GOCSPX-xxxx
GMAIL_SENDER=youremail@gmail.com
GMAIL_REDIRECT_URI=
